// font family
$font-family: 'Work Sans', sans-serif;

// Transition
$transition: 1s !important;

// Webkit Scrollbar Width
$webkit-scrollbar: 5px;
$webkit-scrollbar-track: transparent;
$webkit-scrollbar-thumb: #00e2ff;
$webkit-scrollbar-thumb-hover: #00f7ff;

// Colors