/* Background */
.bg {
    background: #171a24;
    border-radius: 2px;
    box-shadow: $box-shadow;
    transition: 0.25s;
}

.bg-hover {
    &:hover {
        background: #191c26;
        transition: 0.25s;
    }
}

.bg-hover .border {
    transition: 0.25s;
}

.bg-hover:hover .border {
    width: 35px;
    transition: 0.25s;
}
