.border {
    width: 75px;
    margin-top: 1px;
    margin-bottom: 5px;
    border-top: 3.5px solid #24293b!important;
    border-radius: 100px;
}

.vertical-border {
    margin-right: 5px;
    margin-left: 2.5px;
    border-radius: 100px;
    border-left: 2.5px solid #24293b;
}
