button {
    font-family: $font-family;
    background: transparent;
    border: none;
    cursor: pointer;
}

.btn-primary {
    display: inline-block;
    text-align: center;
    background: white;
    border: 1px solid white;
    padding: 7.5px 35px;
    font-size: 13.5px;
    border-radius: 2px;
    color: black;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        color: white;
        border: 1px solid #606060;
        background: transparent;
        transition: 0.5s;
    }
}

.btn-secondary {
    display: inline-block;
    text-align: center;
    background: transparent;
    border: 1px solid $grey-color;
    padding: 7.5px 35px;
    font-size: 13.5px;
    border-radius: 2px;
    color: #f8f9fa;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        color: #212529;
        border: 1px solid $white-color !important;
        background: #f8f9fa;
        border-color: #f8f9fa;
    }
}

.btn-pricing {
    display: inline-block;
    font-family: "Nunito Sans", sans-serif;
    background: white;
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 3px;
    text-align: center;
    font-size: 15px;
    font-weight: 0;
    border-radius: 10px;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}

.btn-services {
    background: transparent;
    font-family: "Nunito Sans", sans-serif;
    border: 1px solid $grey-color !important;
    width: 100%;
    margin-top: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 15px;
    font-weight: 0;
    border-radius: 5px;
    color: #f8f9fa;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        color: #212529;
        border: 1px solid $white-color !important;
        background: #f8f9fa;
        border-color: #f8f9fa;
    }
}

.btn-fixed {
    display: inline-block;
    font-family: "Nunito Sans", sans-serif;
    background: white;
    float: right;
    padding: 5px 15px;
    font-size: 15px;
    font-weight: 0;
    border-radius: 2px;
    color: black;
    transition: 0.5s;
    cursor: pointer;
}

.btn-table {
    display: inline-block;
    background: transparent;
    border: 0px;
    text-align: center;
    font-size: 12.5px;
    font-weight: 0;
    border-radius: 5px;
    color: black;
    cursor: pointer;
}

.btn-table i {
    color: white;
    font-size: 20px;
}

.btn-marketplace {
    background: transparent;
    border: 1px solid #606060 !important;
    width: 100%;
    padding-top: 4px;
    padding-bottom: 0px;
    text-align: center;
    margin-top: 15px;
    font-size: 25px;
    font-weight: 0;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        border: 1px solid #f8f9fa;
        background: #f8f9fa;
        transition: 0.5s;

        & i {
            color: black;
            transition: 0.5s;
        }
    }

    i {
        color: white;
        transition: 0.5s;
    }
}

.btn-back {
    font-size: 19px;
    margin-right: 5px;
    color: white;
}

.btn-link {
    font-size: 15px;
    text-align: center!important;
    color: grey;
}

.btn-close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0px;
    font-size: 25px;
    font-weight: 700;
    transition: 0.5s;
}
