/* Card */
.card {
    z-index: 1000;
    width: 95%;
    margin: 10px;
    vertical-align: top;
    display: inline-block;

    & p {
        margin: 0px !important;
    }

    & h1 {
        margin: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
    }

    & h2 {
        margin: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
    }

    & h3 {
        margin: 0px;
        padding-top: 0px;
        margin-bottom: 0px;
    }
}
