.center {
    position: relative;
    height: 100%;
    width: 100%;
    display: table;
    overflow: hidden;
    max-width: 1500px;
    margin: auto;

    &-content {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        padding-top: 65px;
        padding-bottom: 65px;
    }
}
