*,
:after,
::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    color: $white-color;
    background: $body;
    line-height: 1.5;
    font-family: $font-family;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (max-width: 1150px) {
    html,
    body {
        border: 0;
    }
}

a {
    color: $white-color;
    text-decoration: none;
}

h1 {
    font-size: 20px;
    font-weight: 300;
    text-align: left;
}

h2 {
    font-size: 25px;
    font-weight: 300;
    text-align: left;
}

h3 {
    font-size: 35px;
    font-weight: 300;
    text-align: left;
}

p {
    font-size: 15px;
    line-height: 1.25;
    color: $grey-color;
    text-align: justify;
}

small {
    font-weight: 700;
}

section {
    height: 100%;
}

i {
    color: white;
}

a,
img,
iframe,
video {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-drag: none;
    cursor: pointer;
}

label {
    color: white;
    font-size: 15px;
    padding-bottom: 5px;
    text-align: left;
}

ul {
    padding-left: 25px !important
}

li {
    line-height: 1.35;
    color: $grey-color;
    text-align: left;
}

input,
input:focus,
textarea,
textarea:focus,
select,
select:focus {
    outline: none;
    cursor: pointer;
    font-family: $font-family;
}

textarea {
    resize: none;
    min-height: 150px;
}
