figure {
    border-top: $border;
    background: $background;
    position: relative;
    overflow: hidden;
    border-radius: $border-radius;
    margin: 0px;
    height: 350px;
    box-shadow: $box-shadow;

    & img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        transition: 1s;
        opacity: 0.15 !important;
        filter: grayscale(100%) !important;

        &:hover {
            opacity: 0.75 !important;
        }

    }

}

.p {
    font-size: 25px;
}

.effect-honey {

    h2 {
        position: absolute;
        bottom: 0;
        left: 0;
        padding-left: 50px;
        padding-bottom: 25px;
        text-align: left;
        font-weight: 300;
        -webkit-transform: translate3d(0, 15px, 0);
        transform: translate3d(0, 15px, 0);

        & hover {
            opacity: 1;
            -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
        }

        & span {
            opacity: 0;
            text-transform: none;
            transition: opacity 0.35s, -webkit-transform 0.35s;
            transition: opacity 0.35s, transform 0.35s;
            transition: opacity 0.35s, transform 0.35s, -webkit-transform 0.35s;
            -webkit-transform: translate3d(0, 30px, 0);
            transform: translate3d(0, 30px, 0);

            & hover {
                opacity: 1;
                -webkit-transform: translate3d(0, 0, 0);
                transform: translate3d(0, 0, 0);
            }
        }
    }

}

figure.effect-honey figcaption::before,
figure.effect-honey h2 {
    transition: -webkit-transform 0.55s;
    transition: transform 0.55s;
    transition: transform 0.55s, -webkit-transform 0.55s;
}

figure.effect-honey:hover figcaption::before,
figure.effect-honey:hover h2,
figure.effect-honey:hover h2 span {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}
