footer {
    position: fixed;
    bottom: 25px;
    right: 400px;

    & small {
        color: grey;
        text-shadow: 0px 0px 10px #464646;
    }

    & i {
        text-shadow: 0px 0px 10px #424B6D;
        color: #424B6D;
    }
}
