.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(2em + 0.75rem + 2px);
    padding: 0.675rem 0.8rem;
    color: $grey-color;
    background: #171a24;
    border: 1px solid #2d2d2d;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: 0.5s;
}

.form-control:focus {
    border: 1px solid transparent;
    transition: 0.5s;
}

.form-control:disabled {
    border: 1px solid transparent;
}

.custom-select {
    display: block;
    width: 100%;
    height: calc(2em + 0.75rem + 35px);
    padding: 0.675rem 0.8rem;
    color: #606060;
    background: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right .75rem center/8px 10px;
    background: #171a24;
    border: 1px solid #2d2d2d;
    border-radius: 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    transition: 0.5s;
}

.custom-select:focus {
    border: 1px solid transparent;
    transition: 0.5s;
}
