/* Pace-Progress-Bar */
/* https://codebyzach.github.io/pace/ */
.pace {
    -webkit-pointer-events: none;
    pointer-events: none;

    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #24293b !important;
    height: 5px !important;
}
