.pagination {
    margin-top: 10px;
    vertical-align: middle;
    display: inline-block;
}

.pagination-btn-primary {
    display: inline-block;
    text-align: center;
    background: #1f2330;
    padding: 2.5px 5px;
    margin: 0px;
    font-size: 12.5px;
    border-radius: 2px;
    color: grey;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        color: grey;
        background: #13151D;
        transition: 0.5s;
    }
}

.pagination-btn-secondary {
    display: inline-block;
    text-align: center;
    margin: 0px;
    background: #242a38;
    padding: 2.5px 7.5px;
    font-size: 12.5px;
    border-radius: 2px;
    color: grey;
    transition: 0.5s;
    cursor: pointer;

    &:hover {
        color: grey;
        background: #13151D;
        border-color: #f8f9fa;
    }
}

.pagination-btn-results {
    display: inline-block;
    text-align: center;
    background: transparent;
    padding: 5px 10px;
    margin: 0px;
    font-size: 12.5px;
    border-radius: 5px;
    color: grey;
    transition: 0.5s;
}
