::-webkit-scrollbar {
    width: 0px;
}

::-webkit-scrollbar-track {
    background: #090909;
}

::-webkit-scrollbar-thumb {
    background: #252525;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #303030;
}
