table {
    width: 100%;
    table-layout: fixed;
    text-align: left;
}

th {
    font-size: 15px;
    background: #1f2330;
    padding: 5px 10px;
    font-weight: 300;
    border-radius: 2px;
    border-bottom: 2px solid #242a38;
}

td {
    background: #181c26;
    color: grey;
    text-decoration: none;
    font-size: 12.5px;
    padding: 5px 10px;
    letter-spacing: 0.25px;
    border-radius: 2px;
    word-break: break-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
