#admin {
  font-weight: 700;
  color: #acacac;
  text-shadow: 0 0 10px #acacac;
  background-image: url('../gif/particles.gif');
}

#lifetime {
  font-weight: 700;
  color: #737373;
  text-shadow: 0 0 10px #737373;
  background-image: url('../gif/particles.gif');
}

#premium {
  font-weight: 700;
  color: #565656 !important;
  text-shadow: 0 0 10px #565656;
  background-image: url('../gif/particles.gif');
}

#user {
  color: #4b4b4b !important;
}

#banned {
  color: black !important;
  text-decoration: line-through;
}